<!-- ******************** Footer dos formularios ***********************-->

    <footer class="border-top ">
        <div class="container-fluid">
          <div class="row py-3">
            <div class="col-12 col-md-4 text-center ">
              <p>&copy; 2021 - NatuFarma - Manipulação e Homeopatia</p>  
            </div>
            <div class="col-12 col-md-5 text-center">
              <p>Rua Rio Manso,231 - Bairro Céu Azul - Aguas Claras - MG - tel: (33)1717-1717</p>
            </div>
            <div class="col-12 col-md-3 text-center">
              <ul class="list-unstyled d-flex">
                <li class="ms-3">
                  <a class="link-dark bi bi-facebook icons" href="#"></a>
                </li>
                <li class="ms-3">
                  <a class="link-dark bi bi-instagram icons" href="#"></a>
                </li>
                <li class="ms-3">
                  <a class="link-dark bi bi-whatsapp icons" href="#"></a>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </footer>

  </body>
</html> 