<!-- ****************** Pagina principal da aplicação *******************-->
<!--  OBS: Para chamar a pagina principal no navegador,
    usar o caminho:  http://localhost:3000/cliente/principal -->
    


<%-include('../partials/header'); %>

<!-- chama pagina principal, Home .  E carrega a imagem atraves do arquivo .css -->
<div class="container-fluid loginContainer">
    
<!-- <h1>teste principal aqui</h1> -->

</div>

<%-include('../partials/footer.ejs'); %>

</body>
</html>
